<%= render "shared/second-header" %>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class="registration-container">
    <div class="registration-top">
        <h1>アカウント作成</h1>
    </div>

    <div class="form-group">
        <div class='form-text-wrap'>
            <label class="form-text">ニックネーム</label>
            <span class="indispensable">(必須)</span>
        </div>
        <%= f.text_area :nickname, class:"input-default", id:"nickname", maxlength:"40", autofocus: true %>
    </div>
        <div class="form-group">
          <div class='form-text-wrap'>
              <label class="form-text">メールアドレス</label>
              <span class="indispensable">(必須)</span>
          </div>
          <%= f.email_field :email, class:"input-default", id:"email" %>
    </div>
    <div class="form-group">
        <div class='form-text-wrap'>
            <label class="form-text">パスワード</label>
            <span class="indispensable">(必須)</span>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
        <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
    </div>
    <div class="form-group">
        <div class='form-text-wrap'>
            <label class="form-text">確認用パスワード</label>
            <span class="indispensable">(必須)</span>
        </div>
        <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation" %>
    </div>
    <div class="form-group">
      <div class="form-bottom-text">
          <p>この登録をもって<%= link_to '利用規約', "#", class: "text-color" %>に同意したことになります。</p>
      </div>
    </div>

    <div class='account-create'>
        <%= f.submit "アカウント作成" , class:"account-create-btn" %>
    </div>
    <div class="move-to-login">
        <p class="move-to-login-text">すでにアカウントをお持ちの方は<%= link_to 'こちら', new_user_session_path, class: "login-btn" %></p>
    </div>
</div>

<% end %>