<%= render "shared/header" %>

<main>
    <div class="main-container">
        <div class="main-top">
            <div class="main-top-text">
                <p>自分のレシピを投稿しよう！</p>
            </div>
            <div class="swiper-container">
                <div class="swiper infinite-slider">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide"><%= image_tag 'recipe1.jpeg' %></div>
                    <div class="swiper-slide"><%= image_tag 'recipe2.jpeg' %></div>
                    <div class="swiper-slide"><%= image_tag 'recipe3.jpeg' %></div>
                    <div class="swiper-slide"><%= image_tag 'recipe4.jpeg' %></div>
                    <div class="swiper-slide"><%= image_tag 'recipe5.jpeg' %></div>
                </div>
            </div>
        </div>



    </div>
</main>
<!--<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>-->