<%= render "shared/second-header" %>

<main>
    <div class="main-container">
        <div class="main-area">
            <div class="search-recipes-container">
                

                <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
                    <%= form.text_field :keyword, placeholder: "レシピを検索する", class: "search-input" %>
                    <%= form.button nil, class: "search-btn" do %>
                        <%= image_tag("検索アイコン1.png", alt: "検索") %>
                    <% end %>
                <% end %>

                <div class="search-recipe-area">
                    <ul class="recipe-lists">
                        <% @recipes.each do |recipe| %>
                            <li class="recipe-list">
                                <%= link_to recipe_path(recipe.id) do %>
                                    <div class="image-content">
                                        <%= image_tag recipe.image, class: "recipe-image" %>
                                    </div>
                                <% end %>
                                <div class="recipe-texts">
                                    <p class="recipe-title"><%=link_to recipe.title, recipe_path(recipe.id) %></p>
                                    <p class="cooking-time">調理時間目安：<%= recipe.cooking_time[:name] %></p>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<%= render "shared/footer" %>